<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="Nancy" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net46" />
  <package id="T4Include" version="1.1.4" targetFramework="net46" />
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0" targetFramework="net46" />
</packages>